.sidebar {
  background-color: #f1f2f7;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar__header {
  height: var(--header-height);
  border-bottom: 1px solid #c8cbd9;
  display: flex;
  align-items: center;
  padding: var(--default-padding);
}

.logo__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo__img {
  background-color: var(--accent-color);
  padding: 8px;
  border-radius: 50%;
  color: #f1f2f7;
}
.logo__description {
}

.nav {
  padding: var(--default-padding);
}

.nav__title {
  display: block;
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: bolder;
}
.nav__menu {
  padding-left: 1px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav__menu-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #c8cbd9;
}
.sub-menu__title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.sub-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sub-menu__item {
}
