/* DEFAULT */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
}

/* ASIDE BUTTONS */
.sub-menu__btn {
  width: 100%;
  background: none;
  border: none;
  padding: 14px 20px;
  text-align: left;
  font: inherit;
  cursor: pointer;
  color: var(--secondary-color);
  transition:
    color 0.2s,
    fill 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sub-menu__icon {
  width: 18px;
  height: 18px;
}

.sub-menu__btn:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.is-active {
  background-color: #616cb43b !important;
  /* border: 1px solid var(--bg-color); */
  border-radius: var(--bg-radius);
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* HEADER BUTTONS */
.user__btn {
}

.notice-btn {
}

.notice-btn__img {
  width: 18px;
  height: 26px;
}

/* CONTENT BUTTONS */
.card__btn-details {
  display: block;
  border: 1px solid var(--bg-color);
  border-radius: var(--bg-radius);
  width: 100%;
  padding: 5px;
  transition:
    background 0.3s,
    color 0.3s;
}

.card__btn-details:hover,
.not-found__btn:hover {
  background-color: var(--focus-color);
  color: #ffffff;
}

.card__btn-details:focus,
.not-found__btn:focus {
  border: 1px solid var(--bg-color);
  background-color: var(--accent-color);
  color: #ffffff;
}

.not-found__btn {
  padding: 10px 20px;
  border: 1px solid var(--bg-color);
  border-radius: var(--bg-radius);
  font-size: 16px;
  transition:
    background 0.3s,
    color 0.3s;
}
